{% extends "pdl/base.html" %}


{% load staticfiles %}
{% block additional_head_javascript %}
{% endblock additional_head_javascript %}


{% block additional_css %}
<style>
#g1, #g2, #g3, #g4 {
    width:240px; height:192px;
    display: inline-block;
    margin: 1em;
}
</style>
{% endblock %}


{% block title %}
        Proyecto de ley | Estadísticas
{% endblock %}

{% load humanize %}
{% block content %}
<div class="container">
  <h1 id="proyectos_de_ley">Situación de los proyectos de ley</h1>
  <hr>
  <h3>Número total de proyectos de ley:
    <a href="/">{{ numero_de_proyectos|intcomma }}</a></h3>
</div>

<div id="contenido" class="container">
  <div class="container">

    <div id="g1"></div>
    <div id="g2"></div>
    <div id="g3"></div>
    <div id="g4"></div>

  </div><!-- container -->

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-7">
        <div id="comisiones_chart" style="width:350px; height:620px;"></div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-7">
        <div id="dispensed_chart" style="width:350px; height:400px;"></div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div>


{% endblock content %}

{% block additional_javascript %}
{% load staticfiles %}
<script src="{% static 'js/raphael.2.1.0.min.js' %}"></script>
<script src="{% static 'js/justgage.1.0.1.min.js' %}"></script>
<script src='{% static "js/highcharts.js" %}'></script>

<script>
$(function () {
    $('#comisiones_chart').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Proyectos en comisiones'
        },
        xAxis: {
            categories: {{ comision_names|safe }}
        },
        yAxis: {
            title: {
                text: 'Número de proyectos'
            }
        },
        legend: {
            enabled: false
        },
         tooltip: {
            pointFormat: '{point.y} proyectos'
        },
        series: [
        {
            name: 'Número de proyectos',
            data: {{ comision_count }},
            dataLabels: {
                enabled: true,
                style: {
                    fontSize: '10px',
                    fontFamily: 'Verdana, sans-serif',
                }
            }
        }]
    });
});
</script>

<script>
$(function () {
    $('#dispensed_chart').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Proyectos aprobados sin 2da votación'
        },
        xAxis: {
            categories: {{ dispensed_categories|safe }}
        },
        yAxis: {
            title: {
                text: 'Número de proyectos'
            }
        },
        legend: {
            enabled: false
        },
         tooltip: {
            pointFormat: '{point.y} proyectos'
        },
        series: [
        {
            name: 'Número proyectos',
            data: {{ dispensed_values }},
            dataLabels: {
                enabled: true,
                style: {
                    fontSize: '10px',
                    fontFamily: 'Verdana, sans-serif',
                }
            }
        }]
    });
});
</script>

<script>
  var g = new JustGage({
    id: "g1",
    value: {{ percentage_without_pdf_url }},
    label: "{{ without_pdf_url|intcomma }} proyectos",
    min: 0,
    max: 100,
    levelColorsGradient: false,
    title: "% sin PDF link"
  });

  var g = new JustGage({
    id: "g2",
    value: {{ percentage_without_iniciativas }},
    label: "{{ without_iniciativas|intcomma }} proyectos",
    min: 0,
    max: 100,
    levelColorsGradient: false,
    title: "% proyectos sin fusionar"
  });

  var g = new JustGage({
    id: "g3",
    value: {{ percentage_without_seguimientos }},
    label: "{{ without_seguimientos|intcomma }} proyectos",
    min: 0,
    max: 100,
    levelColorsGradient: false,
    title: "% sin tramitar"
  });

  var g = new JustGage({
    id: "g4",
    value: {{ percentage_are_not_law }},
    label: "{{ are_not_law|intcomma }} proyectos",
    min: 0,
    max: 100,
    levelColorsGradient: false,
    title: "% proyectos que\naún no son ley"
  });
</script>
{% endblock additional_javascript %}
