{% extends "pdl/base.html" %}

{% block title %}
Proyectos de ley emitidos por el Congreso de la República del Perú | About
{% endblock %}


{% block content %}
<div class="container">
  <h1 id="about">Sobre esta página</h1>
</div>

<div id="contenido" class="container">
  <p><strong>proyectosdeley.pe</strong> es un intento de transparentar el
        Congreso y poner al alcance de la mayor cantidad de personas los
        proyectos de ley presentados y discutidos en el parlamento. La
        información mostrada es tomada directamente de la página web del
        Congreso.</p>

  <p>Esta página ha sido desarrollada en forma independiente por la
    <a href="http://www.hiperderecho.org">ONG Hiperderecho</a>, una
    organización civil peruana sin fines de lucro dedicada a investigar,
    facilitar el entendimiento público y promover el respeto de los derechos y
    libertades en entornos digitales.</p>


</div>




{% endblock %}


