{% extends "pdl/base.html" %}

{% block title %}
Proyectos de ley emitidos por el Congreso de la República del Perú
{% endblock %}


{% block content %}
<div class="container">
  <h1>{{ congresista }}</h1>
</div>

<div id="contenido" class="container">

  {% for i in results %}
  <hr>
     {{ i|safe }}
  {% endfor %}


  {% for i in msg %}
    <h3>{{ i }}</h3>
  {% endfor %}

</div>


{% if results %}
    <div class="container" style="text-align: center;">
      <div id="page-selection" class="container">
          <ul class="pagination pagination-mg">
              <li>{{ pages }}</li>
          </ul>
      </div>
    </div>
{% endif %}


{% endblock %}


