{% load static %}
<!-- Bootstrap core CSS -->
<link href="http://netdna.bootstrapcdn.com/bootswatch/3.2.0/spacelab/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/pdl.css' %}">

<style type="text/css">
    body, html {
      height: 100%;
    }

    .highlight { background-color: yellow }
    .navbar .divider-vertical {
    min-height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
    }

    #wrap {
      min-height: 100%;
      height: auto;
      /* Negative indent footer by its height */
      margin: 0 auto -93px;
      /* Pad bottom by footer height */
      padding: 0px 0 81px;
    }

    #footer {
      padding-top: 12px;
      height: 81px;
    }
  </style>
