{% extends "pdl/base.html" %}
{% load humanize %}

{% block title %}
        Proyectos de ley emitidos por el Congreso de la República del Perú
{% endblock %}


{% block content %}
<div class="container">
  <div class="pull-left">
    <h1 id="proyectos_de_ley">Proyectos recientes</h1>
    <h3>(Legislatura 2011&mdash;2016)</h3>
  </div>

  <div class="pull-right hidden-xs hidden-sm" style="width: 510px;">
    <ul class="counters text-primary">
      <li><b class="counter-number">{{ total|intcomma }}</b>
        PROYECTOS
      </li>
      <li><b class="counter-number">{{ sin_fusionar|intcomma }}</b>
        SIN FUSIONAR
      </li>
      <li><b class="counter-number">{{ no_son_ley|intcomma }}</b>
        AÚN NO SON LEY
      </li>
      <li><b class="counter-number">{{ aprobados|intcomma }}</b>
        APROBADOS
      </li>
      <li>
        <a href="/stats/" title="ver más información">ver más</a>
      </li>
    </ul>
  </div>


</div>

<div id="contenido" class="container">
  {% for i in pretty_items %}
    <div>
      <hr>
      {{ i|safe }}
    </div>
  {% empty %}
    <h2>Aún no hay registros en nuestra base de datos.</h2>
  {% endfor %}
</div>



{% include "pdl/pagination.html" %}

{% endblock %}


