{% extends "pdl/base.html" %}

{% block title %}
Proyectos de ley emitidos por el Congreso de la República del Perú | About
{% endblock %}


{% block content %}
<div id="contenido" class="container">
  <h1>Resultados de búsqueda:</h1>
  {% if results == 'No se encontraron resultados.' %}
    <h2>{{ results }}</h2>
  {% else %}
    {% for i in results %}
      {{ i|safe }}
    {% endfor %}
  {% endif %}
</div>
{% endblock %}


{% block highlight_keyword %}
<script>
    $("#contenido").highlight('{{ keyword }}');
</script>
{% endblock %}
