{% extends "pdl/base.html" %}

{% block title %}
Proyectos de ley emitidos por el Congreso de la República del Perú | About
{% endblock %}


{% block content %}
<div id="contenido" class="container">
  {% if results == 'No se encontraron resultados.' %}
    <h2>{{ results }}</h2>
  {% else %}
  <h1>Resultados de búsqueda:</h1>
    {% for i in pretty_items %}
      {{ i|safe }}
    {% endfor %}
  {% endif %}
</div>

    {% if last_page > 2 %}
      {% include "pdl/pagination_search.html" %}
    {% endif %}
{% endblock %}



{% block highlight_keyword %}
<script>
    $("#contenido").highlight({{ keyword|safe }});
</script>
{% endblock %}
