{% extends "pdl/base.html" %}

{% block title %}
        Proyecto de ley | Seguimiento
{% endblock %}


{% block content %}
<div class="container">
  <h1 id="proyectos_de_ley">Proyecto de Ley {{ item.codigo }}</h1>
</div>

<div id="contenido" class="container">
{{ item.titulo }}


{% if item.iniciativas_agrupadas|length > 1 %}
  {{ item.iniciativas_agrupadas }}
{% endif %}
</div>
 <canvas id="viewport" width="800" height="600"></canvas>
{% endblock %}


{% block additional_javascript %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.12/d3.min.js" charset="utf-8"></script>
{% endblock additional_javascript %}

