{% extends "pdl/base.html" %}


{% block additional_head_javascript %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.12/d3.min.js" charset="utf-8"></script>
{% endblock additional_head_javascript %}


{% block additional_css %}
{% endblock %}



{% block title %}
        Proyecto de ley | Seguimiento
{% endblock %}


{% load humanize %}
{% block content %}
<div class="container">
  <h1 id="proyectos_de_ley">Proyecto de Ley {{ item.codigo }}</h1>
  <p>Presentado: {{ item.fecha_presentacion_human }}</p>
</div>



<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-8 col-sm-11">

      <div class="panel panel-default">
        <div class="panel-heading"><b>Título</b></div>
        <div class="panel-body">
          {{ item.titulo }}
        </div>
      </div><!-- panel -->

      <div id="my-timeline"></div>

      {% if item.congresistas_with_links != None %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Autores</b>
          <span class="badge">{{ item.numero_congresistas }}</span>
        </div>
        <div class="panel-body">
          {{ item.congresistas_with_links|safe }}
        </div>
      </div><!-- panel -->
      {% endif %}

      {% if item.iniciativas_agrupadas|length > 1 %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Iniciativas agrupadas</b>
          <span class="badge">{{ item.iniciativas_agrupadas|length }}</span>
        </div>
        <div class="panel-body">
          <div id="iniciativas"></div>
        </div>
      </div><!-- panel -->
      {% endif %}

      {% if item.proponente != None %}
      <div class="panel panel-default">
        <div class="panel-heading"><b>Proponente</b></div>
        <div class="panel-body">
          {{ item.proponente|safe }}
        </div>
      </div><!-- panel -->
      {% endif %}

      {% if item.proponente != None %}
      <div class="panel panel-default">
        <div class="panel-heading"><b>Grupo parlamentario</b></div>
        <div class="panel-body">
          {{ item.grupo_parlamentario|safe }}
        </div>
      </div><!-- panel -->
      {% endif %}

      {% if item.nombre_comision != None and item.nombre_comision != '' %}
      <div class="panel panel-default">
        <div class="panel-heading"><b>Nombre de comisión</b></div>
        <div class="panel-body">
          {{ item.nombre_comision|safe }}
        </div>
      </div><!-- panel -->
      {% endif %}

    </div><!-- col -->


    <div class="col-lg-5 col-md-4 hidden-sm hidden-xs">

      <div class="panel panel-default">
        <div class="panel-heading"><b>Enlaces externos</b></div>
        <div class="panel-body">
          {% if item.pdf_url != ''%}
          <a class='btn btn-lg btn-primary'
             href="{{ item.pdf_url }}" role='button'>PDF</a>
          {% else %}
          <a class='btn btn-lg btn-primary disabled'
             href="#" role='button'>Sin PDF</a>
          {% endif %}

          {% if item.expediente != ''%}
          <a class='btn btn-lg btn-primary'
             href="{{ item.expediente }}" role='button'>EXPEDIENTE</a>
          {% else %}
          <a class='btn btn-lg btn-primary disabled'
             href="#" role='button'>Sin EXPEDIENTE</a>
          {% endif %}
        </div>
      </div><!-- panel -->

      <div class="panel panel-default">
        <div class="panel-heading"><b>Expediente.</b> Enlaces a PDF externos</div>
        <div class="panel-body">
          <ul class="list-group">
            {% for i in item.expediente_events %}
            <li class="list-group-item"><a href="{{ i.pdf_url }}">{{ i.fecha }}:</a> {{ i.evento }}</li>
            {% endfor %}
          </ul>
        </div>
      </div><!-- panel -->

    </div><!-- col -->
  </div><!-- row -->





  <div class="row">
    <div class="col-xs-11 visible-sm visible-xs">

      <div class="panel panel-default">
        <div class="panel-heading"><b>Enlaces externos</b></div>
        <div class="panel-body">
          {% if item.pdf_url != ''%}
            <a class='btn btn-lg btn-primary'
              href="{{ item.pdf_url }}" role='button'>PDF</a>
          {% else %}
          <a class='btn btn-lg btn-primary disabled'
             href="#" role='button'>Sin PDF</a>
          {% endif %}

          {% if item.expediente != ''%}
          <a class='btn btn-lg btn-primary'
             href="{{ item.expediente }}" role='button'>EXPEDIENTE</a>
          {% else %}
          <a class='btn btn-lg btn-primary disabled'
             href="#" role='button'>Sin EXPEDIENTE</a>
          {% endif %}
        </div>
      </div><!-- panel -->

      <div class="panel panel-default">
        <div class="panel-heading"><b>Expediente.</b> Enlaces a PDF externos</div>
        <div class="panel-body">
          <ul class="list-group">
            {% for i in item.expediente_events %}
              <li class="list-group-item"><a href="{{ i.pdf_url }}">{{ i.fecha }}:</a> {{ i.evento }}</li>
            {% endfor %}
          </ul>
        </div>
      </div><!-- panel -->

    </div><!-- col -->
  </div><!-- row -->


</div><!-- container -->


{% endblock content %}


{% block additional_javascript %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/storyjs-embed.js' %}"></script>

<script>
$.getJSON("/api/iniciativas/{{ item.short_url }}", function(data) {
    var items = [];
    $.each(data.nodes, function(k, v) {
        items.push("<a href='" + v.url + "' title='Proyecto " + v.codigo + "'>" + v.codigo + "</a>")
    });
    $("#iniciativas").append(items.join(", "));
});
</script>

<script>
$(document).ready(function() {
  $.getJSON("/api/seguimientos/{{ friendly_code }}", function(data) {
    createStoryJS({
        type:       'timeline',
        width:      '100%',
        height:     '300',
        lang:       'es',
        source:     data,
        embed_id:   'my-timeline',
        start_at_end: true
    });
  });
});
</script>
<!-- END TimelineJS -->

{% endblock additional_javascript %}
