{% extends "pdl/base.html" %}

{% block title %}
        Proyecto de ley | Seguimiento
{% endblock %}


{% block content %}
<div class="container">
  <h1 id="proyectos_de_ley">Proyecto de Ley {{ item.codigo }}</h1>
</div>

<div id="contenido" class="container">
{{ item.titulo }}


{% if item.iniciativas_agrupadas != None %}
  {{ item.iniciativas_agrupadas }}
{% endif %}
</div>
 <canvas id="viewport" width="800" height="600"></canvas>
{% endblock %}


{% block additional_javascript %}
{% load staticfiles %}
{% endblock additional_javascript %}

