{% extends "pdl/base.html" %}

{% block head %}
    {{ wizard.form.media }}
{% endblock head %}


{% block additional_head_javascript %}
{% endblock additional_head_javascript %}


{% block additional_css %}
{% endblock %}


{% block title %}
        Proyecto de ley | Búsqueda avanzada
{% endblock %}

{% block content %}
<div class="container">
  <form method="get" action="/results/" class="navbar-form pull-right">
    <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search">
    <input type="submit" class="btn" value="Search" >
  </form>
</div>

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" value="{% trans "submit" %}"/>
</form>

{% endblock content %}

{% block additional_javascript %}
{% load staticfiles %}

{% endblock additional_javascript %}
