{% extends "pdl/base.html" %}


{% block additional_head_javascript %}
{% endblock additional_head_javascript %}


{% block additional_css %}
{% load staticfiles %}
<link type="text/css" href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'css/jquery-ui.structure.min.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'css/jquery-ui.theme.min.css' %}" rel="stylesheet" />
{% endblock additional_css %}


{% block title %}
        Proyecto de ley | Búsqueda avanzada
{% endblock title %}

{% block content %}
<div class="container">
  <form method="get" action="/search-advanced/" class="form-inline" role="form">
    {{ form.non_field_errors }}

    <div class="form-group">
      {{ form.date_from.errors }} 
      <label class="sr-only" for="id_date_from">Fecha inicio:</label>
      {{ form.date_from }}

      {{ form.date_to.errors }} 
      <label class="sr-only" for="id_date_from_to">Fecha fin:</label>
      {{ form.date_to }}
    </div>

    <input type="submit" class="btn" value="Search" >
  </form>
</div>

{% if items %}
  <div id="contenido" class="container">
    <h1>Resultados de búsqueda:</h1>
    {% if results == 'No se encontraron resultados.' %}
      <h2>{{ results }}</h2>
    {% else %}
      {% for i in pretty_items %}
        {{ i|safe }}
      {% endfor %}
    {% endif %}
  </div>
{% endif %}

    {% if last_page > 2 %}
      {% include "search_advanced/pagination_search.html" %}
    {% endif %}
{% endblock content %}



{% block additional_javascript %}
{% load staticfiles %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>

<script>
  $(document).ready(function() {
    $('.datepicker').datepicker();
  });
</script>

{% endblock additional_javascript %}
