{% extends "pdl/base.html" %}


{% block additional_head_javascript %}
{% endblock additional_head_javascript %}


{% block additional_css %}
{% load staticfiles %}
<link type="text/css" href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'css/jquery-ui.structure.min.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'css/jquery-ui.theme.min.css' %}" rel="stylesheet" />
{% endblock additional_css %}


{% block title %}
        Proyecto de ley | Búsqueda avanzada
{% endblock title %}

{% block content %}
<div class="container">
  <form method="get" action="/search-advanced/" class="navbar-form pull-right">
    {{ form.as_p }} 
    <input type="submit" class="btn" value="Search" >
  </form>
</div>

{% endblock content %}



{% block additional_javascript %}
{% load staticfiles %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>

<script>
  $(document).ready(function() {
    $('.datepicker').datepicker();
  });
</script>

{% endblock additional_javascript %}
